body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0eaea;
    padding: 0;
}
.header-section{
    background-image: url(./eat-healthy-main/eat-healthy-main/images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.mytitel{
    font-size: 40px;
    color: #575757;
}
.mytitel span{
    color: #fc753e;
}
.Headerpera {
    color: #797373cc;
    text-align: justify;
}
.header-section .typeof{
    color: #fe4b2f;
}
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}
.local{
    width: 50%;
    padding: 2px;
}
.local img{
    width: 80%;
}
.btn-5{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(#fe5633, #f37f48 );
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: white;
}
.btn-5 a{
    text-decoration: none;
    color: white;
}
section{
    margin-top: 0;
}
.AboutUs{
    background-image: url(./eat-healthy-main/eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    
}
  
.full-width{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 2px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;

}
.food-item{
    
}
 .Ourfodditem img .fooditem{
    width: 80%;
    display: inline;
}
.foodpera{
    color: #797373cc;
    text-align: justify;
    text-align: center;
}
.foodperah1{
    color: #575757;
    text-align: center;
    font-size: 40px;
}
.Subsceiption{
    text-align: center;
    
}
.Subsceiption ol li{
    display: inline-block;
    list-style: none;
    margin-right: 5rem;
    
}
.Subsceiption1{
    box-shadow: 10px 10px 40px grey;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 10px;
}
.Subsceiption ol li span{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    
}
footer{
    background-color: #1a1515 ;
    text-align: center;
    width: 100%;
    height: 6rem;
    padding-top: 10px ;
    padding-bottom: 10px;
    color: #777171;
    margin-top: 20px;
    
}
footer span{
    color:#eb5a44;
    
}
footer p{
    color: #f0eaea;
}